
/*
  Import the common theme.
*/
@import "./_shared/scss/theme.scss";

/*
  If you need some CSS for any reason you can put it here.
*/
#rectangle {
  background-color: Black ;
  width: 150px;
  height: 150px;
  margin-top: 20px;
}
